.footer-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.87);
    color: gray;
}

@media(max-width: 900px) {
    .footer-title {
        font-size: 20px;
        padding: 5px;
    }
}
@media(max-width: 700px) {
    .footer-title {
        font-size: 15px;
        padding: 5px;
    }
}
@media(max-width: 600px) {
    .footer-title {
        font-size: 12px;
        padding: 5px;
    }
}
@media(max-width: 322px) {
    .footer-title {
        font-size: 12px;
        padding: 6px;
    }
}