.adm-b-c {
    text-decoration: "none"; 
    color: "#ffff";
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    width: 95%;
    padding: 10px;
}
.adm-create {
    text-decoration: none; 
    padding: 10px 15px;
    color: #212121;
    border-radius: 15px;
    background-color: rgb(64, 226, 43);
    text-align: center;
    box-shadow: 0px 2px 10px 0px #000000 ;
}

.adm-create:hover {
    color: #ffff;
    box-shadow: 0 0px 15px 0px #000000 ;
}

