.catalogo-flex {
    display: flex;
    flex-wrap: wrap;
    background-image : url('https://p4.wallpaperbetter.com/wallpaper/7/252/1023/simple-texture-gradient-wallpaper-preview.jpg');
    justify-content: space-between;
}

.catalogo-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    
    
}

.card {
    margin: 35px;
    min-width: 250px;
    box-shadow: 0 0 10px
    
  }

.sortBar {
    min-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px ;
    
  }

@media(max-width: 900px) {
    .catalogo-flex {
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        
        
        }
        .catalogo-cards {
           
            width: 100%;
           
            
        }
        .sortBar {
            display: flex;
            flex-direction: row;
            height: 500px;
          }
          .card {
              margin: 50px;
              
          }

}



@media(max-width: 700px) {
    .card {
        margin: 60px;
        
    }
}

