.OrderDetail {
    box-sizing: border-box;
    width: 75%;
    min-height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    margin-top: 15px;
    margin-right: 2%;
    padding: 10px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}