.autoContainer {
  position: absolute;
  background-color: rgb(253, 253, 253);
  width: 210px;
  color: black;
}

.option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  padding: 5px;
}

.option :hover {
  scale: 1.2;
  color: green;
  font-weight: bolder;
}
