.home-home {
    background-image: url('https://img.etimg.com/photo/msid-74747053,quality-100/for-miles-a-great-bodyweight-workout-would-include-squats-push-ups-walking-lunges-.jpg');
    height: 92vh;
    background-position-y: center;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.home-title {
    color:rgba(161, 161, 161, 0.863);
    
}

.home-button {
    width: 70%;
    padding: 0 15px;
    color: rgba(0, 0, 0, 0.863);
    height: 100px;
    border-radius: 15px;
    background-color: rgba(251, 255, 0, 0.534);
    font-size: 1.7em;
    margin-bottom: 10px;
    
}

.home-position {
background-color: rgba(0, 0, 0, 0.137);
padding: 15px;
align-self: center; 
margin-right: 300px;
border: solid 3px;
width: 25%;
height: 20%;
display: flex;
justify-content: space-between;
flex-direction: column;
align-items: center;
border-radius: 10px

}

.home-button:hover {
background-color: yellow
}
