.card {

display: flex;
flex-direction: column;

text-align: center;
height: 350px;
width: 300px;
margin: 20px;
/* justify-content: space-evenly; */
background-color: #201e1e;
color: rgba(161, 161, 161, 0.863);
} 
.card2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 350px;
    width: 250px;
    margin: 20px;
    padding: 30px;
    justify-content: space-evenly;
    background-color: #201e1e;
    color: rgba(161, 161, 161, 0.863);  
}

.plans-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
     height: 100%;
    /* background-image: url("https://p4.wallpaperbetter.com/wallpaper/175/658/396/metal-texture-metal-texture-wallpaper-preview.jpg"); */
    background-image: url("https://p4.wallpaperbetter.com/wallpaper/7/252/1023/simple-texture-gradient-wallpaper-preview.jpg");
    background-position-x: center;
    background-size:cover;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    background-position: center;
    
    
}

.namedata {
    background-color: rgba(161, 161, 161, 0.863);
}

.box3 {
    background-color: rgb(0, 0, 0);
    width: 100%;
    font-size: 60px;
    color: rgba(161, 161, 161, 0.863);
    text-align: center;
    }

    .button3 {
        margin-top: 20px;
    }

@media(max-width: 900px) {
    .box3 {
     font-size: 30px;   
    }
    .card {
        font-size: 10px;
        height: 300px
    }
    .card2 {
        font-size: 10px;
        height: 300px 
    }
}
@media(max-width: 600px) {
    .box3 {
        font-size: 30px;   
       }
       .card {
           font-size: px;
           height: 300px;
          
       }
       .text-plans p{
           font-size: 15px;
       }
       .card2 {
           font-size: 10px;
        
           height: 400px 
       }
}
@media(max-width:700px) {
    .card {
        font-size: px;
        height: 300px;
        justify-content: center;
    }
    .text-plans p{
        font-size: 18px;
    }
    .card2 {
        font-size: 10px;
        height: 300px ;
        justify-content: center;
    }
    
}