.box2 {
    background-color: rgba(0, 0, 0, 0.87);
   
    
    }
    
.activities {
        font-size: 90px;
        display: flex;
        justify-content: center;
        color: rgba(161, 161, 161, 0.863);
       
    }
.divFather{
    display: flex;
   flex-wrap: wrap;
   
}

.items{
   
   
   padding: 0px;
   
    height: 50vh;
    color: white;
    font-size: 50px;
    width: 50%;
    background-size: cover;
    
}

.act-title {
    background-color: rgba(0, 0, 0, 0.575);
}