.box {
background-color: #f0f2f2;
height: 270px;
background-image: url('https://img.etimg.com/photo/msid-74747053,quality-100/for-miles-a-great-bodyweight-workout-would-include-squats-push-ups-walking-lunges-.jpg');

background-position-y: center;
background-size: cover;
}

.title {
    font-size: 90px;
    display: flex;
    justify-content: center;
    color: rgb(54, 54, 54)
   
}

.text {
    color: rgb(107, 107, 107);
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-top: 50px;
    

}

